@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Medium.eot');
    src: local('../fonts/Druk Cyr Medium'), local('../fonts/DrukCyr-Medium'), url('../fonts/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DrukCyr-Medium.woff2') format('woff2'), url('../fonts/DrukCyr-Medium.woff') format('woff'), url('../fonts/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk Wide Medium.eot');
	src: local('☺'), url('../fonts/Druk Wide Medium.woff') format('woff'), url('../fonts/Druk Wide Medium.ttf') format('truetype'), url('../fonts/Druk Wide Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}





*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea   {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;} 

/*___________________________________________________________________________________________________________________*/

body::-webkit-scrollbar{
    display: none;
}
header{
    position: fixed;
    width: 100%;
}
.wrapper {
    width: 100%;
    background:#0E0E0E;
    padding: 0 135px;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    padding: 41px 0 37px 0;
    font-family: 'Druk Wide';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
}
.header__menu {
    padding: 40px 0 69px 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}


/* ---------------------main--------------------- */

.main {
}
.main__content{
    display: flex;
    flex-direction: column;
}
.main__title {
    text-align: center;
    padding: 231px 0 253px 0;
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 82px;
    line-height: 100px;
    color: #FFFFFF;
}
.main__info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info__address {
}
.info__mail {
}

/* ---------------------about--------------------- */

.about {
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
.about__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 200px 0 0 0;
}
.about__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
}
.about__info {
    display:flex;
    flex-direction: column;

}
.about__text {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    width: 498px;
    margin: 0 0 84px 0;
}
.about__buttons {
    display: flex;
    flex-direction: row;
    margin: 0 0 200px 0;
}
.about__buttons__contact {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background:#0E0E0E;
    color: #FFFFFF;
    padding: 0 0 0 11px;
}
.about__buttons__more {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background:#0E0E0E;
    color: #FFFFFF;
    padding: 0 0 0 57px;
}

/* ---------------------cases--------------------- */

.cases {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
}
.case__content {
    display: flex;
    flex-direction: column;
}
.case__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
}
.case__link {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.case__link__left {
    margin: 0 60px 0 0;

}
.link__content {
}
.link__img {
    margin: 0 0 10px 0;
    width: 100%;
    max-width: 540px;
}
.link__title {
    font-family: 'Druk Cyr';
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 2px 0;
}
.link__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 40px 0;
}
.case__link__right {
}

/* ---------------------assets--------------------- */

.assets {
    background: #001CAD;
}
.assets__content {
    display: flex;
    flex-direction: column;
}
.assets__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 34px 0 0 54px;
    margin: 0 0 56px 0;
}
.assets__image {
    display:flex;
    flex-direction: row;
    padding: 0 0 150px 8px;
    overflow-x: auto;
}
.assets__image::-webkit-scrollbar{
    display: none;
}
.assets__image__token {
    height: 490px;
    margin: 0 30px 0 0;
}

/* ---------------------clients--------------------- */

.clients {
    background: #0E0E0E;
    overflow-x: auto;
}
.clients__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 140px 0 0 135px;
    margin: 0 0 50px 0;
}
.clients__logo{
    overflow-x:hidden;
}
.clients__logo__odd {
    margin: 0 0 50px 0;
}
.clients__logo__even {
    margin: 0 0 50px -360px;
}

/* ---------------------footer--------------------- */

.footer__content {
    background: #001CAD;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 76px 130px 100px;
    color: #FFFFFF;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
}
.contacts__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 60px 0;
}
.contacts__address, .contacts__name {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
}
.contacts__address{
    margin: 0 0 60px 0;
}
.footer__input__name {
    grid-area: name;
    margin: 0 14px 9px 0;
}
.footer__input__email {
    grid-area: email;
    margin:0 0 9px 0;
}
.footer__input__phone {
    grid-area: phone;
    margin: 0 0 9px 0;
}
.footer__input__search {
    grid-area: search;
}
.footer__input__message {
    grid-area: message;
    width: 498px;
    height: 171px;
    background: #0024DC;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 16px 0 0 16px;
}
.footer__input__name, .footer__input__email, .footer__input__phone, .footer__input__search {
    width: 242px;
    height: 47px;
    background: #0024DC;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 16px;
}
input{
    text-align: start;
}
input::placeholder{
    color: #FFFFFF;
}
.footer__input__message::placeholder{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer__input {
    position: relative;
    display: grid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    grid-template-columns: 256px 242px;
    grid-template-rows: 56px 56px 171px;
    grid-template-areas:"name email"
                        "phone search"
                        "message message";
}
.footer__button {
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    height: 126px;
    width: 126px;
    padding: 55px 0 0 26px;
    bottom: -40px;
    right: -63px;
}
.footer__button__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer__button__text span{
    background: url(/img/icons/Arrow.svg) bottom no-repeat;
    padding: 0 0 10px 0;
}
.footer__button__check{
    display:none;
}

