@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Medium.eot');
    src: local('../fonts/Druk Cyr Medium'), local('../fonts/DrukCyr-Medium'), url('../fonts/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DrukCyr-Medium.woff2') format('woff2'), url('../fonts/DrukCyr-Medium.woff') format('woff'), url('../fonts/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk Wide Medium.eot');
	src: local('☺'), url('../fonts/Druk Wide Medium.woff') format('woff'), url('../fonts/Druk Wide Medium.ttf') format('truetype'), url('../fonts/Druk Wide Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}





*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea   {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;} 

/*___________________________________________________________________________________________________________________*/
body::-webkit-scrollbar{
    display: none;
}
body{
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
}
a, a:visited{
    color: #FFF;
}
.wrapper {
    width: 100%;
    background:#0E0E0E;
    padding: 0 135px;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    padding: 41px 0 37px 0;
    font-family: 'Druk Wide';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
}
.header__burger{
    display:none;
}
.header__menu__list {
    padding: 40px 0 69px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.menu__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.menu__button button{
    background-color:#0E0E0E; 
    color: #FFF;
}
.menu__line{
    position: absolute;
    top: 21px;
    left: 1000px;
    transition: all 0.7s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu__button:hover .menu__line{
    left: -50%;
}


/* ---------------------main--------------------- */
.main {
    width: 100%;
    min-width: 768px;
}
.main__content{
    display: flex;
    flex-direction: column;
}
.main__title {
    text-align: center;
    padding: 231px 0 253px 0;
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 82px;
    line-height: 100px;
    color: #FFFFFF;
}
.main__info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info__address {
    position: relative;
    opacity: 1;
    transition: 1s;
}

.map{
    z-index:-1;
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
    transition:opacity 1s, z-index 0s;
}
.map__mobile{
    display:none;
}
.info__address:hover+ .map{
    opacity:1;
    z-index:6;
}
.info__address:hover{
    z-index: 7;
    opacity:0;
}
.info__mail {
    position: relative;
}
.info__mail__img{
    position: absolute;
    right: -10px;
    bottom: -1500px;
    opacity: 0;
    transition:bottom 1s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 1s ease;
}
.info__mail p:hover+ .info__mail__img{
    bottom:30px;
    opacity: 1;
}
/* ---------------------about--------------------- */

.about {
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
.about__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 200px 0 0 0;
}
.about__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
}
.about__info {
    display:flex;
    flex-direction: column;

}
.about__text {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    width: 498px;
    margin: 0 0 84px 0;
}
.about__buttons {
    display: flex;
    flex-direction: row;
    margin: 0 0 200px 0;
}
.about__buttons__contact {
    font-family: 'Druk Cyr';
    font-size: 16px;
    line-height: 19px;
    background:#0E0E0E;
    padding: 0 0 0 11px;
    color: #FFFFFF;
}
.about__buttons__more {
    font-family: 'Druk Cyr';
    font-size: 16px;
    line-height: 19px;
    background:#0E0E0E;
    padding: 0 0 0 57px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    transition: 0.7s ease;
} 

/* ---------------------more__about--------------------- */

.more__about {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    position:fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: 1s;
}
.more__about__content {
    display: grid;
    justify-content: center;
    grid-template-columns:30% 30% 30% ;
    grid-template-rows: 375px 220px;
    grid-template-areas:"massmedia network pr"
                        "creative blogers events";
}
.more__about__content div{
    padding: 0 0 0 50px;
}
.more__block:first-child {
    margin: 0 0 190px 0;
}
.more__title {
    font-size: 38px;
    line-height: 46px;
    color: #BFBFBF;
    margin: 0 0 60px 0;
}
.more__subtitle {
    font-size: 38px;
    line-height: 46px;
    margin: 0 0 8px 0;
}
.more__text {
    font-size: 12px;
    line-height: 15px;
    width: 200px;
}
.more__block__massmedia {
    grid-area: massmedia;
    border-right: 1px solid white;
}
.more__block__creaive {
    grid-area: creative;
    border-right: 1px solid white;
}
.more__block__network {
    grid-area: network;
    border-right: 1px solid white;
}
.more__block__blogers{
    grid-area: blogers;
    border-right: 1px solid white;
}
.more__block__pr {
    grid-area: pr;
}
.more__block__events {
    grid-area: events;
}

/* ---------------------cases--------------------- */

.cases {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    height: 70%;
    overflow-y: scroll; 
}
.cases::-webkit-scrollbar{
    display: none;
}
.case__content {
    display: flex;
    flex-direction: column;
}
.case__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 60px 0;
}
.case__link {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.case__link__mobile{
    display: none;
}
.case__link__left {
    margin: 0 160px 0 0;

}
.link__content {
}
.link__img {
    margin: 0 0 10px 0;
    width: 100%;
    max-width: 540px;
}
.link__title {
    font-family: 'Druk Cyr';
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 2px 0;
}
.link__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 40px 0;
}
.case__link__right {
}
.case__button{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    border-radius: 50%;
    border: 1px solid white;
    height: 126px;
    width: 126px;
    padding: 0 0 0 36px;
    left: 50%;
    bottom: 100px;
    z-index: 1;
}
.case__button__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

/* ---------------------cases__full--------------------- */
.cases__full {
    color:white;
    font-family: 'Montserrat';
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow-y:auto;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.full__button {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 22px;
    left: 135px;
    border-radius: 50%;
    border: 1px solid white;
    height: 66px;
    width: 66px;
    padding: 22px 0 0 6px;
}
.case__button__text {
    font-size: 10px;
    line-height: 12px;
    padding: 0 0 0 15px;
}
.full__headcontent {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 148px 0 0 0;
    margin: 0 0 70px 0 ;
}
.full__headcontent__text {
    display:flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 514px;

}
.headcontent__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 10px 0;
}
.headcontent__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 30px 0;
}
.headcontent__text {
    font-size: 20px;
    line-height: 24px;
}
.headcontent__img {
    display: block;
    max-width: 100%;
    max-height: 459px;
}
.case__link__title{
    display:none;
}
.full__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 129px 0;
}
/* ---------------------assets--------------------- */

.assets {
    background: #001CAD;
}
.assets__content {
    display: flex;
    flex-direction: column;
}
.assets__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 34px 0 0 54px;
    margin: 0 0 56px 0;
}
.assets__image {
    display:flex;
    flex-direction: row;
    padding: 0 0 150px 8px;
    overflow-x:hidden;
}
.assets__image::-webkit-scrollbar{
    display: none;
}
.assets__image__token {
    height: 490px;
    margin: 0 30px 0 0;
    background: black;
    cursor: pointer;
}
.assets__image div{
    position: relative;
}
.assets__image__text{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 232px;
    left: 85px;
    z-index: 1;
}

/* ---------------------clients--------------------- */

.clients {
    background: #0E0E0E;
    overflow-x: auto;
}
.clients__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 140px 0 0 135px;
    margin: 0 0 50px 0;
}
.clients__logo{
    overflow-x:hidden;
}
.clients__logo__odd {
    margin: 0 0 50px 0;
}
.clients__logo__even {
    margin: 0 0 50px -360px;
}

/* ---------------------footer--------------------- */

.footer__content {
    background: #001CAD;
    display:grid;
    grid-template-columns: 1fr 498px;
    grid-template-rows: 100px 130px 1fr;
    grid-template-areas:"title input"
                        "contacts input"
                        "agency input";
    padding: 76px 130px 100px;
    color: #FFFFFF;
}
.contacts__title {
    font-family: 'Druk Cyr';
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 60px 0;
    grid-area: title;
}
.contacts__address, .contacts__name {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
}
.contacts__name{
    grid-area: agency;
}
.contacts__address{
    margin: 0 0 60px 0;
    grid-area: contacts;
}
.footer__input__name {
    grid-area: name;
    margin: 0 14px 9px 0;
}
.footer__input__email {
    grid-area: email;
    margin:0 0 9px 0;
}
.footer__input__phone {
    grid-area: phone;
    margin: 0 0 9px 0;
}
.footer__input__search {
    grid-area: search;
}
.footer__input__message {
    grid-area: message;
    width: 498px;
    height: 171px;
    background: #0024DC;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 16px 0 0 16px;
    resize: none;
}
.footer__input__message::-webkit-scrollbar{
    display: none;
}
.footer__input__name, .footer__input__email, .footer__input__phone, .footer__input__search {
    width: 242px;
    height: 47px;
    background: #0024DC;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 16px;
}
input{
    text-align: start;
}
input::placeholder{
    color: #FFFFFF;
}
.footer__input__message::placeholder{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer__input {
    position: relative;
    display: grid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    grid-area: input;
    grid-template-columns: 256px 242px;
    grid-template-rows: 56px 56px 171px;
    grid-template-areas:"name email"
                        "phone search"
                        "message message";
}
.footer__button {
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    height: 126px;
    width: 126px;
    padding: 55px 0 0 26px;
    bottom: -40px;
    right: -63px;
}
.footer__button__text {
    display: block;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer__button__text span{
    background: url(/img/icons/Arrow.svg) bottom no-repeat;
    padding: 0 0 10px 0;
}
.footer__button__check{
    display:none;
}
.footer__button:hover .footer__button__text{
    opacity: 0;
    position: absolute;
    z-index: 10;
}
.footer__button:hover .footer__button__check{
    display:block;
    position: absolute;
    top: 45px;
    left: 35px;
}